.header {
	font-size: 1rem;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.header-logo {
	font-size: 3em;
	margin-bottom: .3em;
	font-family: 'Paytone One';
	color: rgba(255,255,255,.7);
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
	margin-bottom: 0;
	letter-spacing: 5px;
}
